.header__lang-link {
    text-decoration-line: none;
    color: #FFFFFF;

.header__lang-link:focus {
    text-decoration-line: underline;
}

.header__lang-link:first-child {
    margin-right: 18px; 
}