.footer__links {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-template-rows: 1fr;
    column-gap: 18px;
}

@media screen and (max-width: 767px) {
    .footer__links {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
}
