.lead__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    padding-left: 172px;
    padding-right: 172px;
    
    width: calc(100% - (172px*2));

    text-align: center;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        padding-left: 144px;
        padding-right: 144px;
        width: calc(100% - (144px*2));
    }
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
        padding-left: 64px;
        padding-right: 64px;
        width: calc(100% - (64px*2));
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        padding-left: 14px;
        padding-right: 14px;
        font-size: 16px;
        line-height: 20px;
        width: calc(100% - (14px*2));        
    }
}