.places__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    padding: 0 148px;
    list-style: none;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .places__grid {
        padding: 0 48px;
    }
}



@media screen and (max-width: 1023px) {
    .places__grid {
        row-gap: 72px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .places__grid {
        gap: 50px;
        padding: 0;
    }
}